<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <!-- <button class="button" ng-click="showReorder = !showReorder">Ordenar</button> -->
    <button class="button button-energized button-block icon-right ion-navicon" ng-click="showReorder = !showReorder">
      Ordenar
    </button>   
  </ion-header-bar>
  
  <ion-list show-delete="showDelete" show-reorder="showReorder">
    <ion-item ng-repeat="item in items">
      Item: {{ item.id}}
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
