<ion-view view-title="Gestão de Negócios Gastronômicos">
  <ion-content class="padding">
    <div class="col">
      <br><br><br>
      <img src="img/login.png" width="40%" class="center">
    </div>
    <div class="list">
      <label class="item item-input item-floating-label semBorda">      
        <span class="input-label">Usuário</span>        
        <input type="text" placeholder="Usuário">
      </label>
      <label class="item item-input item-floating-label semBorda">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Senha">
      </label>


      <button class="button button-full button-positive ion-checkmark-circled icon-left" ng-click="signIn()">
        Entrar
      </button>


      <div class="row">
        <div class="col col-offset-33 centered">
          <a href=""><b><u>Esqueceu a senha?</u></b></a>
        </div>
      </div>
      <br>


    </ion-content>
  </ion-view>
